@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

:root {
    --content-background: #e7ebee;
    --border-color: #cfdbe2;
    --card-border-color: #f1f1f1;
    --text-color: #515253;
    --text-muted: #6c757d;
    --text-more-muted: #D5D5D5;

	/* brand color */
	--real-brand: #233237;
    --brand: #1B9AAA;
    --accent: #DA7B93;

    /* colors */
    /* https://coolors.co/f8ffe5-06d6a0-1b9aaa-ef476f-ffc43d */

    /* more standard colors */
    --success: #06D6A0;
    --information: #1B9AAA;
    --warning: #FFC43D;
	--danger: #EF476F;
	--neutral: #F8FFE5;
    
	--root-overflow: auto;
    --root-height: auto;
}

.text-warning {
	background-color: var(--warning);
}
.text-error {
	background-color: var(--danger);
}
.text-log {
	background-color: var(--information);
}

/* https://coolors.co/b8bfac-01966e-11606b-af3350-bf932d */
.text-string {color: #01966E;}
.text-integer {color:  #11606B;}
.text-boolean {color: #AF3350;}
.text-number {color: #BF932D;}
.text-object {color: #233237;}
.text-array {color: #233237;}

.page-btn {
	position: fixed;
	right: 50px;
	bottom: 50px;
	border-radius: 100px;
	box-shadow: 1px 2px 3px rgba(0,0,0,.4);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

*, :after, :before {
    box-sizing: border-box;
}

input:focus, select:focus, textarea:focus {
	outline: var(--accent) auto 5px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto','Open Sans','Helvetica',Helvetica,Arial,sans-serif;
  color: var(--text-color);
  overflow: var(--root-overflow);
}

.root {
	overflow: var(--root-overflow);
    height: var(--root-height);
}

a {
	text-decoration: none;
	color: var(--text-color);
}

.container {
	min-height: 100vh;
	margin: 0 auto;
	display: grid;
}

.header {
	grid-area: header;
}

.content {
	grid-area: content;
	display: grid;
    grid-template-rows: auto 1fr;
}

.footer {
	grid-area: footer;
}

.sidebar {
	grid-area: sidebar;
}


.page-loader{
	min-height: 200px;
    font-size: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* PAGE CONTENT */
.page {
	display: grid;
	grid-gap: 0px;
	grid-template-rows: 1fr auto;
	grid-template-areas:
	    "page"
	    "docs";
}

.page-docs{
	grid-template: "docs";
	height: auto;
	display: grid;
	align-items: end;
}
.page-content {
	grid-template: "page";
}

/* COPY TO TURTLEUI*/

hr {
    border: 1px solid var(--card-border-color);
}

/* UTILITY */
.hover {
	transition: background-color 240ms;
}
.hover:hover {
	cursor: pointer;
	background-color: var(--content-background);
}
.dropdown-width-auto > .dropdown-items {
	width: auto !important;
}

.rotate10deg {
	transform: rotate(-10deg);
}

.circle {
	border-radius: 1000px;
	background-color: #AAA;
	height: 20px;
	width: 20px;
    float: left;
    margin-right: 5px;
}

.pull-left {
	float: left;
}

.tag {
	padding: 5px;
    font-size: 80%;
    border-radius: 2px;
}
.font-md {
	font-size: 18px;
}
.text-small {
	font-size: 80%;
}
.text-muted {
	color: var(--text-muted) !important;
}
.text-more-muted {
	color: var(--text-more-muted) !important;
}
.vertical-align {
	display: flex;
    align-items: center;
}

.center-self {
	align-self: center;
}
.center {
	display: flex;
    align-items: center;
    justify-content: center;
}
.align-center {
	display: flex;
    justify-content: center;
	width: 100%;
}
.align-right {
	display: flex;
    align-items: right;
    flex-direction: row-reverse;
}
.pull-right {
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.full-width {
	width: 100%;
}
.full-height {
	height: 100%;
}

pre {
	background-color: #f7f7f7;
	border: 2px solid #EAEAEA;
	padding: 15px;
}

/* FLEX */
.flex {
	display: flex;
}
.flex-grow {
	flex-grow: 1;
    flex-basis: 0;
}

/* GRID */
.grid {
	display: grid;
	width: 100%;
	grid-gap: 10px;
	grid-template-columns: repeat(12, 1fr);
}
.grid-11 {
	grid-template-columns: repeat(11, 1fr);
}
.grid-10 {
	grid-template-columns: repeat(10, 1fr);
}
.grid-9 {
	grid-template-columns: repeat(9, 1fr);
}
.grid-8 {
	grid-template-columns: repeat(8, 1fr);
}
.grid-7 {
	grid-template-columns: repeat(7, 1fr);
}
.grid-6 {
	grid-template-columns: repeat(6, 1fr);
}
.grid-5 {
	grid-template-columns: repeat(5, 1fr);
}
.grid-4 {
	grid-template-columns: repeat(4, 1fr);
}
.grid-3 {
	grid-template-columns: repeat(3, 1fr);
}
.grid-2 {
	grid-template-columns: repeat(2, 1fr);
}
.grid-1 {
	grid-template-columns: repeat(1, 1fr);
}

.flex-row {
	flex-direction: row;
}
.flex-col {
	flex-direction: column;
}
div[class^="col-"]{
	display: flex;
}
.col-1 {
	grid-column: span 1;
}
.col-2 {
	grid-column: span 2;
}
.col-3 {
	grid-column: span 3;
}
/* span 1 of 3, offset to column 2 */
.col-3-2 {
	grid-column: span 1/3;
}
.col-4 {
	grid-column: span 4;
}
/* span 2 of 4, offset to column 2 */
.col-4-2 {
	grid-column: span 2/4;
}
.col-2-5 {
	grid-column: span 2/5;
}
.col-3-5 {
	grid-column: span 3/5;
}
.col-5 {
	grid-column: span 5;
}
.col-6 {
	grid-column: span 6;
}
.col-2-8 {
	grid-column: 2 / 8;
}

.grid-column-end-6{
	grid-column-end: 6;
}

.col-right {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

/* LISTS */

/* TYPOGRAPHY */
strong {
	font-weight: 400;
}

.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
	justify-content: left;
}
.text-right {
	text-align: right;
	justify-content: right;
}
.text-300 {
	font-weight: 300;
}
.text-400 {
	font-weight: 400;
}
.text-600 {
	font-weight: 600;
}

.text-brand {
	color: var(--brand);
}

.text-accent {
	color: var(--accent);
}

.text-success {
	color: var(--success);
}

.text-information {
	color: var(--information);
}

.text-danger {
	color: var(--danger);
}

.background-content {
	background-color: var(--card-border-color);
}

.background-success {
	background-color: var(--success);
	color: #FFF;
}

.background-information {
	background-color: var(--information);
	color: #FFF;
}

.background-danger {
	background-color: var(--danger);
	color: #FFF;
}

/* IMAGES */
.circle-md {
	margin-right: 15px;
    width: 75px;
    height: 75px;
    padding: 2px;
    border-radius: 100px;
    border: 2px solid var(--border-color);
}
.circle-sm {
	margin-right: 15px;
	width: 50px;
	height: 50px;
    padding: 1px;
	border-radius: 100px;
    border: 2px solid var(--border-color);
}

.circle-xs {
	margin-right: 5px;
	width: 32px;
	height: 32px;
    padding: 1px;
	border-radius: 100px;
    border: 1px solid var(--border-color);
}

/**/
.content-header{
	/* background-color: var(--card-border-color); */
    box-shadow: 0px 2px 2px #CCC;
}

/* CUSTOM NAV STYLES */
.nav {
	padding-bottom: 10px;
}
.nav.link-underline a {
    padding-bottom: 11px;
}

.navlink-description{
	margin: 5px 0px;
    font-size: 12px;
    line-height: 16px;
}

.code {
	background-color: var(--card-border-color);
	padding: 10px;
	border-radius: 5px;
	border: 1px solid var(--border-color);
}

.code .react-json-view {
	margin-bottom: 10px;
}
.code .react-json-view:last-child {
	margin-bottom: 0px;
}

/* UTILITY */
.padding {
	padding: 15px;
}
.padding-less {
	padding: 5px;
}
.padding-more{
	padding: 30px;
}
.padding-side{
	padding-left: 20px;
	padding-right: 20px;
}
.padding-bottom {
	padding-bottom: 15px;
}
.no-padding {
	padding: 0px !important;
}
.no-margin {
	margin: 0px;
}
.no-margin-side {
	margin-left: 0px;
	margin-right: 0px;
}
.no-padding-side {
	padding-left: 0px;
	padding-right: 0px;
}
.padding-bottom-even-more{
	padding-bottom: 30px;
}
.no-margin-top {
	margin-top: 0px;
}
.margin-left {
	margin-left: 10px;
}
.margin-right {
	margin-right: 10px;
}
.margin-left-less {
	margin-left: 5px;
}
.margin-right-less {
	margin-right: 5px;
}
.margin-top {
	margin-top: 10px;
}
.margin-bottom {
	margin-bottom: 10px;
}
.margin-left-more {
	margin-left: 25px;
}
.margin-right-more {
	margin-right: 15px;
}
.margin-top-more {
	margin-top: 15px;
}
.margin-bottom-more {
	margin-bottom: 15px;
}
.margin-bottom-even-more {
	margin-bottom: 30px;
}
.margin-top-less {
	margin-top: 5px;
}
.margin-bottom-less {
	margin-bottom: 5px;
}
.margin {
	margin: 10px;
}

dl {
	margin: 10px 5px;
	font-size: 15px;
}

dl dt, dl dd {
	display: inline;
}
dl dt {
	font-weight: 400;
}
dl dd {
	margin-left: 20px;
}

/**/
.project-content {
	padding: 20px;
}

/* phone */
@media (max-width: 599px) {

}

/* tablet - portrait */
@media (min-width: 600px) {
	.container {
		width: 100%;
	}

}


/* other */
@media (max-width: 768px) {
	.grid {
	    grid-template-columns: repeat(1, 1fr);
	}
	div[class^="col-"]{
		grid-column: span 1;
	}
}

@media (max-width: 900px) {
	.grid {
	    grid-template-columns: repeat(1, 1fr);
	}
	.hidden-small {
		display: none !important;
	}
	.show-small {
		display: block;
	}
}

/* tablet - landscape */
@media (min-width: 900px) {
	.show-small {
		display: none;
	}
}

/* tablet - desktop */
@media (min-width: 1200px) {

}

